# Visual Studio - solution user options
*.suo

# Staging directory for library packages
packages/

# Build directories
src/bin/
src/obj/

# Compiled installers
deploy/*.exe

#Misc
insect_example/
wobegon_PnET/output/
wobegon_PnET/Insects/
wobegon_PnET/Metadata/
wobegon_PnET/landusefile/
